<ng-container *ngIf="shouldDisplayErrors()">
  <p-message *ngIf="errors?.required" severity="error" text="Field is required."></p-message>
  <p-message *ngIf="errors?.alnum" severity="error" text="Field can contain only alphanumerical characters."></p-message>
  <p-message *ngIf="errors?.alpha" severity="error" text="Field can contain only letters."></p-message>
  <p-message *ngIf="errors?.maxlength" severity="error"
             text="Field text must be at most {{errors.maxlength.requiredLength}} characters long."></p-message>
</ng-container>
