<div class="p-grid p-jc-center">
  <div class="p-col-6">
    <vp-request-form [requestKinds]="requestKinds"
                     [loading]="loading"
                     [message]="message"
                     [request]="request"
                     (requestChange)="sendRequest($event)"
    >
    </vp-request-form>
  </div>
</div>
