<form class="p-fluid"
      [formGroup]="requestForm"
      #ngForm="ngForm"
      (ngSubmit)="requestForm.valid && submit(requestForm)"
>


  <h2>Contact US</h2>

  <p-messages *ngIf="message" [value]="[message]"></p-messages>

  <div class="p-field">
    <label for="type">Kind of request</label>
    <p-dropdown id="type" [options]="requestKinds" formControlName="type" placeholder="Select a kind of request" optionLabel="description" [showClear]="true"></p-dropdown>
    <vp-form-control-errors controlName="type"></vp-form-control-errors>

  </div>
  <div class="p-field">
    <label for="policyNumber">Policy number</label>
    <input id="policyNumber" type="text" formControlName="policyNumber" pInputText>
    <vp-form-control-errors controlName="policyNumber"></vp-form-control-errors>

  </div>
  <div class="p-field">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" pInputText>
    <vp-form-control-errors controlName="name"></vp-form-control-errors>
  </div>
  <div class="p-field">
    <label for="surname">Surname</label>
    <input id="surname" type="text" formControlName="surname" pInputText>
    <vp-form-control-errors controlName="surname"></vp-form-control-errors>
  </div>
  <div class="p-field">
    <label for="request">Your request</label>
    <textarea id="request" formControlName="request" pInputTextarea></textarea>
    <vp-form-control-errors controlName="request"></vp-form-control-errors>
  </div>

  <p-button type="submit" label="Submit" [disabled]="loading"></p-button>
</form>
